<!doctype html>
<html lang="nb">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L&aelig;r noe nytt! &ndash; Voksenoppl&aelig;ringsforbundet (VOFO)</title>
    <link rel="shortcut icon" href="http://vofo.no/images/favicon.ico">
	  <link rel="apple-touch-icon" sizes="57x57" href="http://vofo.no/images/apple-touch-icon-57x57.png">
  	<link rel="apple-touch-icon" sizes="114x114" href="http://vofo.no/images/apple-touch-icon-114x114.png">
  	<link rel="apple-touch-icon" sizes="72x72" href="http://vofo.no/images/apple-touch-icon-72x72.png">
  	<link rel="apple-touch-icon" sizes="144x144" href="http://vofo.no/images/apple-touch-icon-144x144.png">
  	<link rel="apple-touch-icon" sizes="60x60" href="http://vofo.no/images/apple-touch-icon-60x60.png">
  	<link rel="apple-touch-icon" sizes="120x120" href="http://vofo.no/images/apple-touch-icon-120x120.png">
  	<link rel="apple-touch-icon" sizes="76x76" href="http://vofo.no/images/apple-touch-icon-76x76.png">
  	<link rel="apple-touch-icon" sizes="152x152" href="http://vofo.no/images/apple-touch-icon-152x152.png">
  	<link rel="icon" type="image/png" href="http://vofo.no/images/favicon-192x192.png" sizes="192x192">
  	<link rel="icon" type="image/png" href="http://vofo.no/images/favicon-160x160.png" sizes="160x160">
  	<link rel="icon" type="image/png" href="http://vofo.no/images/favicon-96x96.png" sizes="96x96">
  	<link rel="icon" type="image/png" href="http://vofo.no/images/favicon-16x16.png" sizes="16x16">
  	<link rel="icon" type="image/png" href="http://vofo.no/images/favicon-32x32.png" sizes="32x32">
  	<meta name="msapplication-TileColor" content="#da532c">
  	<meta name="msapplication-TileImage" content="http://vofo.no/images/mstile-144x144.png">
  	<meta name="msapplication-config" content="http://vofo.no/images/browserconfig.xml">
  	<link rel="stylesheet" href="bootstrap.min.css">
  	<link rel="stylesheet" href="site.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->
</head>

<body style="padding-top: 60px;">
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
          <a href="#top" class="navbar-brand">L&AElig;R NOE NYTT!</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
		<div class="navbar-collapse collapse" id="navbar-main">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#program">Mikrokurs-program</a></li>
				<li><a href="#kart">Her finner du oss</a></li>
				<li><a href="#mer">Lyst til &aring; l&aelig;re mer?</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container">
	<div class="row text-center">
		<div class="col-sm-3">
			<img class="img-responsive center" alt="L&aelig;r noe nytt" src="logo.png" style="padding: 0 1em;">
		</div>
		<div class="col-sm-9 gross">
			<h1>L&aelig;r noe nytt under Arendalsuka!</h1>
			<p>Hver dag arrangerer Voksenoppl&aelig;ringsforbundet små mikrokurs (15 min) ved sin stand p&aring; Sam Eydes plass. Kom innom for &aring; f&aring; litt ny kunnskap eller en ny ferdighet helt gratis!</p>
			<p>
				<a href="#program" class="btn btn-lg btn-primary">Program for mikrokursene</a>
				<a href="#kart" class="btn btn-lg btn-default">Her finner du oss</a>
			</p>
		</div>
	</div>
  <hr>
  <div class="row">
    <div class="col-sm-6">
      <p>
        <a class="btn btn-block btn-info btn-lg" href="https://twitter.com/hashtag/vofoarendalsuka" style="background-color: #55acee">
          <i class="fa fa-twitter fa-2x"></i>
          #vofoarendalsuka <span class="xxs-hidden">på Twitter</span>
        </a>
      </p>
    </div>
    <div class="col-sm-6">
      <p>
        <a class="btn btn-block btn-info btn-lg" href="https://instagram.com/explore/tags/vofoarendalsuka/" style="background-color: #3f729b">
          <i class="fa fa-instagram fa-2x"></i>
          #vofoarendalsuka <span class="xxs-hidden">på Instagram</span>
        </a>
      </p>
    </div>
  </div>
	<hr>
	<h2 id="program" class="section">Mikrokurs-program <small><br>&ndash; l&aelig;r noe nytt p&aring; bare 15 minutter, hver dag under Arendalsuka 12. - 18. august 2015</small></h2>
	<div class="row prog">
		<div class="col-md-5">
			<div class="row">
				<div class="col-xs-6">
					<h3>Torsdag</h3>
					<p><strong>12.15 Teater/film</strong></p>
					<p><strong>14.15 Teater/film</strong></p>
					<p><strong>16.15 Teater/film</strong></p>
				</div>
				<div class="col-xs-6">
					<h3>Fredag</h3>
					<p><strong>12.15 Spinning på håndtein</strong></p>
					<p><strong>14.15 Spinning på håndtein</strong></p>
					<p><strong>16.15 Spinning på håndtein</strong></p>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="row">
        <div class="col-xs-6 col-sm-4">
					<h3>Lørdag</h3>
					<p><strong>12.15 Bærekraft</strong></p>
					<p><strong>14.15 Bærekraft</strong></p>
					<p><strong>16.15 Bærekraft</strong></p>
				</div>
				<div class="col-xs-6 col-sm-4">
					<h3>Mandag</h3>
					<p><strong>12.15 Stemmebruk</strong></p>
					<p><strong>14.15 Stemmebruk</strong></p>
					<p><strong>16.15 Stemmebruk</strong></p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h3>Tirsdag</h3>
					<p><strong>12.15 Demokrati og læring</strong></p>
					<p><strong>14.15 Demokrati og læring</strong></p>
					<p><strong>16.15 Demokrati og læring</strong></p>
				</div>
			</div>
		</div>
	</div>
	<p>(Et mer detaljert program vil bli lagt ut i starten av august.)</p>
	<hr>
	<h2 id="kart" class="section"><a href="http://www.arendalsuka.no" class="pull-right"><img src="arendalsuka.png" alt="Arendalsuka logo" style="background:#ff6e22;max-height:77px;"></a>Her finner du oss <small><br>&ndash; Voksenopplæringsforbundets stand på Sam Eydes plass</small></h2>
	<div style="clear: both;"></div>
	<div id="map"></div>
	<hr>
	<h2 id="mer" class="section">Lyst til å lære mer?</h2>
	<p>Studieforbundene og de frivillige organisasjonene arrangerer hvert år kurs for over en halv million deltakere. I alle landets kommuner kan du finne læringsmuligheter, og temaene er mange. Du kan lære alt fra hundedressur, korsang og teaterproduksjon til tekstbehandling, internettbruk og latinske språk. Er du kanskje interessert i kysthistorie? Økologisk mat? Det finnes garantert et kurs som passer for deg.</p>
	<p>Prikken over i'en? Når du tar kurs hos frivillige organisasjoner blir det billig! Frivillig innsats er med på å holde kurskostandene nede, og organisasjonene har ingen krav om saftige overskudd. I tillegg bidrar staten med penger over statsbudsjettet – Alt for å gjøre det så billig som mulig å lære seg noe nytt. Finn en lærende organisasjon som passer dine interesser, og meld deg på et kurs i dag!</p>
	<hr>
	<h2>Lær noe nytt i høst</h2>
	<div class="row">
		<div class="col-sm-4"><div class="panel panel-default">
			<div class="panel-heading kursheader kursheader-df" title="Foto: Norges Jeger- og Fiskerforbund">
				<h3 class="panel-title">Dyr og friluftsliv</h3>
			</div>
			<div class="panel-body">
				<p>Hundekurs (Norsk Kennel Klub): <a href="http://www.naturogmiljo.no/planlagte_kurs/hundekurs">kursoversikt høsten 2015</a></p>
				<p>Jegerprøvekurs (Norges Jeger- og Fiskerforbund): <a href="http://www.naturogmiljo.no/planlagte_kurs/jegerproven">kursoversikt høsten 2015</a></p>
			</div>
		</div></div>
		<div class="col-sm-4"><div class="panel panel-default">
			<div class="panel-heading kursheader kursheader-sp">
				<h3 class="panel-title">Språk</h3>
			</div>
			<div class="panel-body">
				<p>Aftenskolen Agder: <a href="http://www.aftenskolen.no/spraakkurs.109689.no.html">kursoversikt høsten 2015</a></p>
				<p>Aftenskolen Rogaland: <a href="http://www.aftenskolen.no/spraakkurs.113167.no.html">kursoversikt høsten 2015</a></p>
				<p>Folkeuniversitetet: <a href="http://www.folkeuniversitetet.no/sprakkurs/kat-id-4/">kursoversikt høsten 2015</a></p>
				<p>AOF: <a href="http://www.aof.no/hovedomraade/1017">kursoversikt høsten 2015</a></p>
			</div>
		</div></div>
		<div class="col-sm-4"><div class="panel panel-default">
			<div class="panel-heading kursheader kursheader-dk">
				<h3 class="panel-title">Datakurs</h3>
			</div>
			<div class="panel-body">
				<p>AOF: <a href="http://www.aof.no/hovedomraade/1032">kursoversikt høsten 2015</a></p>
				<p>Folkeuniversitetet: <a href="http://www.folkeuniversitetet.no/datakurs/kat-id-3/">kursoversikt høsten 2015</a></p>
				<p>Seniornett: <a href="http://www.seniornett.no/Seniornett/Opplaering/Kurs/Hoest-2014">kursoversikt høsten 2015</a></p>
			</div>
		</div></div>
		<div class="col-sm-6"><div class="panel panel-default">
			<div class="panel-heading kursheader kursheader-hh">
				<h3 class="panel-title">Håndverk og husflid</h3>
			</div>
			<div class="panel-body">
				<p>Vevopplæring (Norges Husflidslag): <a href="http://www.kulturogtradisjon.no/opplaeringstilbud/vevopplaeringa">kursoversikt høsten 2015</a></p>
				<p>Bunadopplæring (Norges Husflidslag): <a href="http://www.kulturogtradisjon.no/opplaeringstilbud/bunadopplaeringa">kursoversikt høsten 2015</a></p>
				<p>AOF: <a href="http://www.aof.no/hobby-og-fritid/1033">kursoversikt høsten 2015</a></p>
				<p>Folkeuniversitetet: <a href="http://www.folkeuniversitetet.no/kultur-og-fritid/handverkskurs/kat-id-201/">kursoversikt høsten 2015</a></p>
			</div>
		</div></div>
		<div class="col-sm-6"><div class="panel panel-default">
			<div class="panel-heading kursheader kursheader-mt" title="Foto: Gospelkoret INC">
				<h3 class="panel-title">Musikk og teater</h3>
			</div>
			<div class="panel-body">
				<p><a href="http://www.musikkensstudieforbund.no/kurs/oversikt/">Aktuelle kurs i Musikkens studieforbund</a></p>
				<p>Teaterkurs (Norsk amatørteaterråd): <a href="http://natf.no/td2015/kurs/ordinaere-kurs/">kursoversikt høsten 2015</a></p>
				<p>Babysangkurs (Frelsesarmeen): <a href="http://www.frelsesarmeen.no/no/frelsesarmeens_arbeid/menigheter_korps/hoyre_kolonne/divisjonene/ostre/hoyre_kolonne/vare_tilbud/drammen_korps_og_omsorgssenter/hoyre_kolonne/vare_tilbud/barn/Babysang.b7C_wtrGZ3.ips">Kurs i Drammen</a></p>
				<p>Finn et kor eller korps nær deg:<br>
				<a href="http://www.korpsnett.no">www.korpsnett.no</a>,
				<a href="http://www.musikkorps.no">www.musikkorps.no</a>,
				<a href="http://www.kor.no">www.kor.no</a>,
				<a href="http://www.sangerforum.no">www.sangerforum.no</a>
				</p>
			</div>
		</div></div>
	</div>
  <hr>
  <h2 id="quiz" class="section">Lær om kurs og voksenopplæring her og test deg selv</h2>
	<p>Velkommen til vår lille quiz om voksenopplæring. Her kan du lese fem små faktabokser om voksenopplæring og studieforbund. Etter hver side kommer det et spørsmål. La oss se om du er en ekspert på voksenopplæring!</p>
  <div class="jumbotron">
    <div id="quizapp">
      <section id="quizapp-main"></section>
    </div>
  </div>
</div>
<footer>
	<div class="container">
		<div class="text-center">
      <p>
        <a href="http://www.vofo.no">
          <img src="VOFOlogo.png" alt="Voksenopplæringsforbundet">
        </a>
      </p>
    </div>
	</div>
</footer>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.1/backbone-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
<script src="bootstrap.min.js"></script>
<script src="site.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script>
      function map_init() {
		var map = L.map('map', {
			center: [-45,-80],
			zoom: 2, maxZoom: 4, minZoom: 2, scrollWheelZoom: false, maxBounds: [[-180,-205],[180, 205]]
		});		L.tileLayer('auk/{z}/{x}/{y}.png', {tms: true, noWrap: true, errorTileUrl: 'auk/e.png', attribution: 'Kart fra <a href="http://www.arendalsuka.no/politisk-gate-2/">Arendalsuka.no</a>'}).addTo(map)
		L.marker([-59, -107]).addTo(map).bindPopup('<strong>Voksenopplæringsforbundet</strong><br>Stand 79, Sam Eydes plass');
      }
	  map_init();
    </script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-2021878-5', 'auto');
	  ga('send', 'pageview');

	</script>

  <script type="text/template" id="item-template">
    <h3>Oppgave <%- number %></h3>
    <div class="fact">
      <p><%- fact %></p>
      <p>
        <% _.each(links, function(text, href){%>
          <a href="<%- href %>" target="_blank"><%- text %></a>
        <%})%>
      </p>
      <p><a class="question btn btn-primary">Gå til spørsmål</a></p>
    </div>
    <div class="quiz">
      <p><%- question %></p>
      <% _.each(options, function(option) { %>
        <div class="radio"><label><input type="radio" name="answr" value="<%- option %>"> <%- option %></label></div>
      <% }) %>
      <p><a class="answer btn btn-success">Svar</a> &nbsp; <span class="text-danger"></span></p>
    </div>
  </script>

  <script type="text/template" id="success-template">
    <% if(correct > 3) { %>
      <h3>Gratulerer, du fikk <%= correct %> riktige svar!</h3>
      <p>Du er en liten ekspert på voksenopplæring.</p>
    <% } else { %>
      <h3>Du fikk <%= correct %> riktig<%= correct == 1 ? '' : 'e' %> svar.</h3>
    <% } %>
    <p>Velkommen innom vår stand på Arendalsuka for et mikrokurs, en spennende samtale om voksenopplæring eller for å lære noe nytt.</p>
    <p>
      <a class="retry btn btn-primary">Start quizen på nytt</a>
    </p>
  </script>

</body>
</html>
