img.center { margin-left: auto; margin-right: auto; }
.gross p { font-size: 21px; margin: 20px 0; font-weight: 200;  }
.gross .btn-lg { margin-bottom: 4px;  }
@media (min-width: 768px){
.gross {padding-top: 30px; }}
.prog h3 { text-align: center; background: #d9d9d9; padding: 8px;}
.prog h4 { text-align: center; color: #777;}
.section {
    padding-top: 60px;
    margin-top: -60px;
}
footer { margin-top: 40px; padding: 40px 0; background-color: #d9d9d9; border-top: 1px solid #c8c8c8; }
#map { height: 400px; }